header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 7%;
    background: var(--cor4);
    color: var(--cor5);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header img{
    height: 10rem;
}
header .navbar a{
    font-size: 2rem;
    margin: 0;
    padding: .5rem 1.5rem;
    color: var( --cor5);    
}
header .navbar a:hover{
    color: var(--cor1);
    font-size: 2.5rem;
}

header .icons #menu-bars{
    display: none;
}
header .icons i{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
}