@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --cor1: #2D6519;
    --cor2: #B4C74C;
    --cor3:#D1E9E7;
    --cor4:#CCE6AA;
    --cor5: #673906;
    --letra: #181818;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
body{
    padding-top: 10rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Manrope", sans-serif;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}