@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --verde-escuro: #38A827;
    --verde-medio: #1FFF9F;
    --verde:#1FFF53;
    --verde-destaque: #96FF13;
    --verde-claro:#74FF94;
    --verde-azulado: #1FFFEB;
    --letra: #3F3F3F;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Open Sans", sans-serif;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}